@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
  padding: rem(48) 0 rem(20);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    align-items: center;
    gap: rem(25);
  }

  &__social-link {
    color: $color-black;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }

    svg {
      width: rem(20);
      height: rem(20);
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
    gap: rem(12);
    transform: translateX(-50%);
  }

  &__logo-bg {
    width: rem(35);
    height: rem(35);
    padding: rem(1);
    border-radius: rem(4);
    background-color: $color-primary;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__logo-text {
    font-family: $font-primary;
    font-size: rem(30);
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
    color: $color-primary;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: rem(15);
  }

  &__icon {
    color: $color-black;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }

    &__cart {
      position: relative;
      display: inline-block;

      &__counter {
        position: absolute;
        top: -0.6rem;
        right: -0.5rem;
        z-index: 10;
        display: none;
        
        &:not(:empty) {
          display: block;
        }
      }
    }

    svg {
      width: rem(30);
      height: rem(33);
    }
  }

  &__nav {
    margin-bottom: rem(20);
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(40);
  }

  &__menu-link {
    display: flex;
    align-items: center;
    gap: rem(8);
    font-family: $font-primary;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
    color: $color-black;
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }

    &--active {
      color: $color-primary;
    }

    svg {
      width: rem(12);
      height: rem(7);
    }
  }

  &__divider {
    width: 100%;
    height: rem(1);
    margin: rem(50) 0 rem(29);
    background-color: rgb(114 113 116 / 20%);
  }
}

